.count= pluralize(total, "proyecto")
- projects.each do |project|
  - org = project.organization
  .row.project-line
    .col.l2.hide-on-med-and-down
      = image_tag "/uploads/#{org.logo}", class: "org-logo" if org.logo
    .col.l7.m8.s12
      .row#title
        .col.s12
          .title= project.name
          .organization
            de
            = org.name
      .row
        .col.s12.sdgs
          - project.project_goals.map{|pg| pg.sustainable_development_goal }.each do |goal|
            - pp_sdg(goal)
      .row
        .col.s12
          = project.description
      .row.project-details
        .col.s4
          %i.material-icons location_on
          = names_for(project.locations)
        .col.s4
          %i.material-icons people
          = names_for(project.populations)
        .col.s4
          %i.material-icons today
          - if project.start_date.try(:year) == project.end_date.try(:year)
            = project.start_date.try(:year)
          - else
            = project.start_date.try(:year)
            \-
            = project.end_date.try(:year)
      .row
        .col.s12
          %p Compartir en:
          %p #{social_share_button_tag(project, desc: project.name)}

    #contact-details.col.l3.m4.hide-on-small-only
      - unless org.email.blank?
        .row
          .col.s12
            %i.material-icons email
            = org.email
      - unless org.telephone_number.blank?
        .row
          .col.s12
            %i.material-icons phone
            = org.telephone_number
      - unless org.twitter.blank?
        .row
          .col.s12
            %i.extra-icons.twitter
            = org.twitter
      - unless org.facebook.blank?
        .row
          .col.s12
            %i.extra-icons.facebook
            = org.facebook

:css
  .social-share-button .ssb-icon {
    background-size: 28px 28px;
    height: 28px;
    width: 28px;
  }