#dashboard

  .row
    .slider
      %ul.slides
        - SustainableDevelopmentGoal.all.each do |goal|
          %li
            %a.slider-item{href: goal_path(goal.url)}
              = image_tag "sdg_presenters/#{goal.number}.jpg"
              .caption.right-align
                %p.light.grey-text.text-lighten-3= goal.title
              .small-sdg-logo
                %svg{class: "ods#{goal.number}-menu"}
                  %use.menu-item{"xlink:href" => "#ODS#{goal.number}"}
  .row#sdgs
    .col.s12
      %h3 Proyectos por ODS
      #by-sdg
        = render 'by_sdg'
        %svg#sdg-chart
  .divider#dashboard
  .row#charts
    .col.m12.l4
      %h3 Proyectos por provincia
      #map
        = render 'map'
    .col.m12.l4
      %h3 Proyectos por población
      #population
        %svg
    .col.m12.l4
      %h3 Proyectos subidos en total
      %h2.count{style:"font-size:40px"}= @total
      #timeline.d-none
  .row
    .col.s12.center-align
      = link_to public_projects_path, class: "btn btn-large", id: "go-to-list" do
        %i.material-icons search
        Ir al listado de proyectos

      = link_to new_user_registration_path, class: "btn btn-large", id: "add-your-org" do
        %i.material-icons person_add
        Agregá tu organización

:javascript
  var projects_by_location = #{@by_location.to_json};
  var projects_by_sdg = #{@by_sdg.to_json};
  var projects_by_population = #{@by_population.to_json};
  var labels = #{Population.labels.to_json};
  var projects_by_upload_date = #{@by_time.to_json};
  var projects_by_organization = #{@by_organization.to_json};

  $('.count').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 4000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
  });