= form_tag public_projects_path, method: :get, html: {name: "filter-form"} do
  #filters
    .row#sdg-filters
      .col.s12.center-align
        - SustainableDevelopmentGoal.all.each do |goal|
          - no_filter = @filters.sustainable_development_goal.blank?
          - selected = @filters.sustainable_development_goal == goal.number.to_s || no_filter
          %a.filter-menu{href: "javascript:void(0)", "data-number" => goal.number}
            %svg{class: "ods#{goal.number}-menu"}
              %use{class: (no_filter ? "no-filter ":"") + (selected ? "":"inactive ") + "menu-item", "xlink:href" => "#ODS#{goal.number}"}
        = hidden_field_tag :sustainable_development_goal, @filters.sustainable_development_goal, id: "sdg-select"
    .row{style:"margin-bottom: 4rem;"}
      .input-field.col.s6.m4.l2
        %i.material-icons.prefix location_on
        = text_field_tag :location, @filters.location
        = active_label_tag :location, "Ubicación", @filters
      .input-field.col.s6.m4.l2
        %i.material-icons.prefix people
        = text_field_tag :population, @filters.population
        = active_label_tag :population, "Población", @filters
      .input-field.col.s6.m4.l2
        %i.material-icons.prefix today
        = text_field_tag :start_date, @filters.start_date
        = active_label_tag :start_date, "Año de inicio", @filters
      .input-field.col.s6.m4.l2
        = text_field_tag :end_date, @filters.end_date
        = active_label_tag :end_date, "Año de fin", @filters
      .input-field.col.s6.m4.l2
        %i.material-icons.prefix folder
        = text_field_tag :name, @filters.name
        = active_label_tag :name, "Nombre", @filters
      .input-field.col.s6.m4.l2
        %i.material-icons.prefix group_work
        = text_field_tag :organization, @filters.organization
        = active_label_tag :organization, "Organizacion", @filters
      .input-field.col.s6.m4.l2
        = check_box_tag :legally_formed, true, @filters.legally_formed
        = label_tag :legally_formed, "Inscripción legal"
      .input-field.col.s6{style:"margin-top: 2rem; text-align: center;"}
        = button_tag "Buscar", class:"btn waves-effect waves-light"

  = render 'public_projects_page', projects: @projects, total: @total

  .row
    .col.s12.center-align
      = hidden_field_tag :page, @filters.page, id: "page"
      - unless @filters.page.to_i == 1
        = link_to "Volver", '#', class: 'btn btn-flat btn-large', id: "previous"
      - unless @filters.page.to_i == (@total.to_f / @page_size).ceil
        = link_to "Más resultados", '#', class: 'btn btn-large', id: "more-results"


:javascript
  var options = {
    data: #{@organizations},
    list: {
      match: {
        enabled:true
      }
    }
  };
  $("#organization").easyAutocomplete(options);
  $("#organization").on("focus", function(){
    $('label[for="organization"]').addClass("active")
  });

:css
  .easy-autocomplete {
    width: unset;
    margin-left: 2rem;
  }
  .easy-autocomplete-container ul li div {
    word-break: normal;
  }
  .easy-autocomplete input[placeholder="Organización"] {
    color: #9e9e9e;
  }
