/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require easy-autocomplete.css
 *= require easy-autocomplete.themes
 */

// Everyone recommends not using sprockets, using imports instead
@import 'materialize_imports';
@import 'layout';
@import 'forms';
@import 'tables';
@import 'sdgs';
@import 'public_projects';
@import 'dashboard';
@import 'social-share-button';

i.material-icons {
  position: relative;
  bottom: -5px;
}

.btn-floating i.material-icons {
  position: relative;
  bottom: 0px;
}
